<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMISSIONHELPER APPLICATION</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
   <link href="./css/style.css" rel="stylesheet" type="text/css">
   <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="w-full md:w-2/3 mx-auto align-center items-center mt-64">
        <div class="flex p-5 rounded-lg shadow bg-white">
          <div>
            <svg class="w-auto h-auto fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"/></svg>
          </div>
          <div class="ml-3">
            <h2 class="font-semibold text-gray-800">Notice</h2>
            <p class="mt-2 text-sm text-gray-600 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eos aliquid at quasi velit sint labore laudantium quo, tenetur incidunt cupiditate nemo deleniti commodi molestias debitis dolores modi doloremque id!
            Vero, officiis voluptatem saepe maiores culpa fuga autem qui quis, modi dignissimos totam enim doloremque rem reprehenderit labore assumenda corporis? Velit tempore dicta voluptates fugit laborum iusto perspiciatis impedit nobis.
            Perspiciatis quas maxime accusantium asperiores esse deserunt saepe? Est sapiente ipsum asperiores non aperiam quidem, odit reiciendis delectus laudantium dolorum consequuntur sed deserunt quod autem laborum at. Quam, delectus laboriosam!</p>
          </div>
        </div>
      </div>
</body>
</html>