<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
   <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/profile.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> 
    <!------ Include the above in your HEAD tag ---------->
    <title>ADMISSIONHELPER</title>
    
    
  </head>
  <body class="text-gray-800 antialiased bg-gray-800">
    <div class="container emp-profile bg-gray-900 text-white">
      <form method="post">
          <div class="row text-white">
              <div class="col-md-4">
                  <div class="profile-img">
                      <img src="https://cdn-icons-png.flaticon.com/512/6342/6342687.png" alt=""/>
                      <div class="file btn btn-xl rounded text-center btn-primary">
                          Change Photo
                          <input type="file" name="file"/>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="profile-head">
                              <h5 class="text-white font-xl my-2 py-2">
                                  Saied Afnan
                              </h5>
                              <h6>
                                  Students, Bangladesh
                              </h6>
                              <p class="proile-rating">BEST RANKING : <span>107 , University of Dhaka</span></p>

                      <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                          </li>
                          
                      </ul>
                  </div>
              </div>
              <!-- <div class="col-md-2">
                  <input type="submit" class="profile-edit-btn text-base text-gray-500" name="btnAddMore" value="Edit Profile"/>
              </div> -->
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="profile-work">
                      <p></p>
                      <a href="/home" class="my-2">Return Home</a><br/>
                  </div>
              </div>
              <div class="col-md-8 text-gray-600">
                  <div class="tab-content profile-tab" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Name</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>Saied Afnan</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>UserName</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>afnan91</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Email</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>saiedafnan@gmail.com</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Roll</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>91</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label>Registration</label>
                                      </div>
                                      <div class="col-md-6">
                                          <p>2019331091</p>
                                      </div>
                                </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>           
  </div>
  </body>
  <script src="./js/index.js" type="text/javascript"></script>
  
  
</html>